---
---

@import "{{ site.theme }}";


/* Supports the left aligned sidebar navigation. */

.nav_container {
	display: flex;
}

.nav_sidebar {
	background-color: #f3f3f3;
	padding: 20px;
	max-width: 30%;
	height: 100vh; /* Full height */
}

.nav_content {
	flex-grow: 1;
	padding: 20px;
	background-color: #ffffff;
}
