---
---

@import "minima";

/* Supports the left aligned sidebar navigation. */

.nav_container {
	display: flex;
}

.nav_sidebar {
	background-color: #f3f3f3;
	padding: 20px;
	min-width: 150px;
	max-width: 25%;
}

.nav_content {
	flex-grow: 2;
	padding: 20px;
	background-color: #ffffff;
}
